# ---------------- #
#   Main Configs   #
# ---------------- #
baseurl:
url: https://bugcontainer.github.io/
date_format: "ordinal"
title: BugLi
subtitle: "BugLi的回收站"
description: "等下一个Bug"
keywords: BugLi
timezone: Asia/Shanghai
encoding: "utf-8"
side_bar_repo_limit: 5

# ---------------- #
#      Author      #
# ---------------- #
author: BugLi
organization: 
organization_url: 
github_username: BugContainer
location: YueYang, China
email: li610327352@gmail.com

# ---------------- #
#    Navigation    #
# ---------------- #
navs:
  -
    href: /
    label: 首页

  -
    href: /categories/
    label: 分类

  -
     href: /archives/
     label: 时间归档

  -
    href: /keywords/
    label: 标签归档

  -
    href: /links/
    label: 链接

  -
    href: /about/
    label: 关于

# ---------------- #
#       RSS        #
# ---------------- #
subscribe_rss: /feed.xml

# ---------------- #
#      Jekyll      #
# ---------------- #
markdown: kramdown
kramdown:
    input: GFM
highlighter: rouge
paginate: 10
lsi: false
quiet: false
excerpt_separator: "\n\n"
permalink: /:year/:month/:day/:title/
gems:
    - jekyll-github-metadata
    - rouge
#     - jekyll-html-pipeline
    - jekyll-paginate
    - jekyll-sitemap
    - jekyll-feed
    - jemoji
#     - jekyll-mentions
collections:
    keywords:
        output: true
        permalink: /keywords/:path/

repository: bugcontainer/bugcontainer.github.io/

# ---------------- #
#      Comments    #
# ---------------- #
# support provider: disqus, gitment, gitalk
comments_provider: gitalk
# !!!重要!!! 请修改下面这些信息为你自己申请的
# !!!Important!!! Please modify infos below to yours
# https://disqus.com
#disqus:
 #   username: 
# https://imsun.net/posts/gitment-introduction/
#gitment:
 #   owner: 
  #  repo: blog-comments
   # oauth:
    #    client_id: 
     #   client_secret: 
# https://github.com/gitalk/gitalk#install
gitalk:
    owner: BugContainer
    repo: blog-comments
    clientID: d6291aa805bf0b34b93a
    clientSecret: 42428634ab0930b3a764eb56da512122c048118b
# 在使用其它评论组件时可点击显示 Disqus
lazy_load_disqus : false

# ---------------- #
#      Search      #
# ---------------- #
simple_jekyll_search:
    # 是否支持全文搜索
    fulltext: true
    # 最多显示多少条搜索结果
    limit: 10

# ---------------- #
#    Analytics     #
# ---------------- #
google:
    analytics_id: UA-80669434-1
