
<h3>Blog Categories</h3>
<div id="blog-keywords">
  <ul class="list-group">
    {% assign sorted_keywords = site.keywords | sort %}
    {% for keyword in sorted_keywords %}
    <li class="list-group-item">
    <a href="#{{ keyword[0] }}">{{ keyword | first }}</a>
    <span class="badge">{{ keyword[1].size }}</span>
    </li>
    {% endfor %}
  </ul>
</div>

<script type="text/javascript">

  $(document).ready(function(){
    $("#blog-keywords li").css('text-transform','capitalize')
  });

</script>
